<div class="row">
  <div class="col-md-12">
    <h1 class="location-header">Inicio</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-home fa-fw"></i> Inicio
      </li>
    </ul>
  </div>
</div>
